body {
    color: #222222;
}

h1 {
    font-family: "Raleway";
    font-weight: lighter;
    font-size: 28px;
    letter-spacing: .2em;
}

h2 {
    font-family: "Raleway";
    font-size: 12px;
    letter-spacing: .2em;
}

h3 {
    font-family: "Raleway";
    font-size: 9px;
    letter-spacing: .2em;
}

p, li {
    font-family: "Lora";
    font-size: 9px;
    letter-spacing: .1em;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
}

.header {
    grid-column: 1 / 2;
    grid-row: 1;
}

.a_mon_sujet {
    grid-column: 1;
    grid-row: 2;
}

.coordonnees {
    grid-column: 2;
    grid-row: 2;
}

.formation {
    grid-column: 1 / 2;
    grid-row: 3;
}

.experience_professionnelle {
    grid-column: 1 / 2;
    grid-row: 4;
}

.competences {
    grid-column: 1 / 2;
    grid-row: 5;
}

.footer {
    grid-column: 1 / 2;
    grid-row: 6;
}