
.content h1 {
  color: hsl(0, 0%, 28%);
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
  text-transform: uppercase;
  animation: shadow 2s linear infinite;
}

@keyframes shadow {
  0% {
    text-shadow: 0 0 10px hsl(0, 0%, 28%);
  }
  50% {
    text-shadow: 0 0 20px hsl(0, 0%, 28%);
  }
  100% {
    text-shadow: 0 0 10px hsl(0, 0%, 28%);
  }
}

section {
  height: 100vh;
  width: 100vw;
  
}


.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}